## Functions

In [1]:
f(x) = x + x

f (generic function with 1 method)

In [2]:
f(2)

4

In [3]:
f(x) = x * x

f (generic function with 1 method)

In [4]:
f(4)

16

In [6]:
f(x,y) = x*2 - y

f (generic function with 2 methods)

In [7]:
f(2,3)

1

In [8]:
function multiply(x,y)
    return x * y
end

multiply (generic function with 1 method)

In [9]:
multiply(2,3)

6

In [11]:
function convert_meter_to_inch(val)
    return val * 39.37
end

convert_meter_to_inch (generic function with 1 method)

In [12]:
convert_meter_to_inch(1.5)

59.05499999999999

In [13]:
function convert_meter_to_inch(val, name = "Patron")
    if name == "Patron"
        println("Value for name is not supplied")
    else
        println("Hi..", name, " The conversion value is ")
    end
    return val * 39.37
end

convert_meter_to_inch (generic function with 2 methods)

In [16]:
convert_meter_to_inch(2.3, "ASD")

Hi..ASD The conversion value is

90.55099999999999

## Formatting numbers and strings

In [17]:
using Printf
name = "ASD"

"ASD"

In [19]:
@printf("Hello %s", name)

Hello ASD

In [20]:
@sprintf("Hello %s", name)

"Hello ASD"

In [21]:
ch = 'i'
@printf("%c", ch)

i

In [22]:
x = 100
@printf("Value of x is %d", x)

Value of x is 100

In [24]:
y = 100.50
@printf("Value of y is %f", y)

Value of y is 100.500000

In [25]:
@printf("Value of y is %.2f", y)

Value of y is 100.50

In [26]:
z = 34532453454554
@printf("%.3e", z)

3.453e+13