In [26]:
2+2

4

In [27]:
12/2

6.0

In [28]:
12//2

6//1

In [29]:
"Hello World"

"Hello World"

In [30]:
print("askdjfsf")

askdjfsf

## This is heading 2
# Importing a file for processing

In [31]:
loan_amount = 100000
interest_rate = .015
tenure = 50

50

In [32]:
loan_amount * tenure

5000000

In [33]:
my_first_program = "The beautiful world"

"The beautiful world"

In [34]:
movie = "Avengers"

"Avengers"

In [39]:
my_first_program * movie  # string concatenate

"The beautiful worldAvengers"

In [ ]:
typeof(interest_rate)

## Arithmatic Operators Precedence

In [43]:
2 + 5 - 6/2 * 3

-2.0

In [44]:
(2 + 5) - (6/2) * 3

-2.0

## Arrays

In [45]:
a1 = [1,2,3,4,5]

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [46]:
a2 = [1, 2.0, 3, 4, 5]  # all element converts to float

5-element Array{Float64,1}:
 1.0
 2.0
 3.0
 4.0
 5.0

In [47]:
s1 = ["I", "Love", "Julia"]

3-element Array{String,1}:
 "I"
 "Love"
 "Julia"

In [48]:
f1 = [print, println, printstyled]

3-element Array{Function,1}:
 print (generic function with 31 methods)
 println (generic function with 3 methods)
 printstyled (generic function with 2 methods)

In [49]:
a3 = [1, 2.0, "Julia"]

3-element Array{Any,1}:
 1
 2.0
  "Julia"

In [50]:
type_int = Int64[1,2,3,4,5]

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [51]:
type_float = Float64[1,2,3,4,5]

5-element Array{Float64,1}:
 1.0
 2.0
 3.0
 4.0
 5.0

In [52]:
type_string = String["This", "is","Julia"]

3-element Array{String,1}:
 "This"
 "is"
 "Julia"

In [53]:
array_2d = [1 2 3 4; 5 6 7 8]

2×4 Array{Int64,2}:
 1  2  3  4
 5  6  7  8

In [55]:
vector = [1 2 3 4 5]

1×5 Array{Int64,2}:
 1  2  3  4  5

In [56]:
arr_rand = rand(5)

5-element Array{Float64,1}:
 0.25227693963793296
 0.32915170336922306
 0.7077076364218156
 0.9932104117606013
 0.17123394843694895

In [57]:
arr_rand2 = rand(3,3)

3×3 Array{Float64,2}:
 0.415714  0.246717  0.894137
 0.77373   0.916866  0.741791
 0.77959   0.157257  0.115354

## Ranges

In [60]:
collect(1:5)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [62]:
collect(1.5:.5:5.5)

9-element Array{Float64,1}:
 1.5
 2.0
 2.5
 3.0
 3.5
 4.0
 4.5
 5.0
 5.5

In [64]:
collect(0:10:100)

11-element Array{Int64,1}:
   0
  10
  20
  30
  40
  50
  60
  70
  80
  90
 100

In [65]:
collect(100:-20:0)

6-element Array{Int64,1}:
 100
  80
  60
  40
  20
   0

In [66]:
c1 = collect(100:-20:0)

6-element Array{Int64,1}:
 100
  80
  60
  40
  20
   0

In [67]:
c1[3]

60

In [69]:
c1[1]

100

In [71]:
c1[end]

0

In [72]:
c1[end-2]

40

In [73]:
c1[[2,3,4,5]]

4-element Array{Int64,1}:
 80
 60
 40
 20

In [74]:
c1[2:end]

5-element Array{Int64,1}:
 80
 60
 40
 20
  0

## Tuples

In [75]:
t1 = (1,2,3,4,5)  # immutable

(1, 2, 3, 4, 5)

In [78]:
t1[1]

1

In [80]:
t2 = ((1,3), (2,5))

((1, 3), (2, 5))

In [81]:
t2[1]

(1, 3)

In [82]:
marks = (Science = (90, 100), Maths = (95, 100), English = (75, 100))

(Science = (90, 100), Maths = (95, 100), English = (75, 100))

In [83]:
marks.Science

(90, 100)

In [84]:
marks.Maths

(95, 100)

In [85]:
marks2 = (History = (80, 100), Sports = (85,100))

(History = (80, 100), Sports = (85, 100))

In [86]:
merge(marks, marks2)

(Science = (90, 100), Maths = (95, 100), English = (75, 100), History = (80, 100), Sports = (85, 100))

## Dictionary (key-value pair)

In [87]:
Cars = Dict("Car1" => 100000, "Car2" => 200000, "Car3" => 300000)

Dict{String,Int64} with 3 entries:
  "Car3" => 300000
  "Car2" => 200000
  "Car1" => 100000

In [88]:
Cars["Car1"]

100000

In [89]:
# Another way to define dictionary
Cars2 = Dict(:Car1=>100000, :Car2 => 200000, :Car3 => 300000)

Dict{Symbol,Int64} with 3 entries:
  :Car3 => 300000
  :Car1 => 100000
  :Car2 => 200000

In [90]:
Cars2[:Car1]

100000

In [91]:
# Check if Cars2 contain key :Car4
haskey(Cars2, :Car4)

false

In [92]:
delete!(Cars2, :Car1)

Dict{Symbol,Int64} with 2 entries:
  :Car3 => 300000
  :Car2 => 200000

In [94]:
keys(Cars)  # display keys

Base.KeySet for a Dict{String,Int64} with 3 entries. Keys:
  "Car3"
  "Car2"
  "Car1"

In [95]:
values(Cars)  # display values

Base.ValueIterator for a Dict{String,Int64} with 3 entries. Values:
  300000
  200000
  100000

In [96]:
dict3 = merge(Cars, Cars2)

Dict{Any,Int64} with 5 entries:
  :Car3  => 300000
  "Car3" => 300000
  "Car2" => 200000
  "Car1" => 100000
  :Car2  => 200000

## Sets

In [103]:
sports_brands = Set(["Addidas", "Nike", "Puma", "Rebook"])

Set{String} with 4 elements:
  "Rebook"
  "Nike"
  "Puma"
  "Addidas"

In [98]:
in("HRX", sports_brands)

false

In [99]:
in("Nike", sports_brands)

true

In [105]:
sports_brands_india = Set(["Addidas","Nike","HRX"])

Set{String} with 3 elements:
  "Nike"
  "HRX"
  "Addidas"

In [106]:
union(sports_brands, sports_brands_india)

Set{String} with 5 elements:
  "Rebook"
  "Nike"
  "Puma"
  "HRX"
  "Addidas"

In [107]:
intersect(sports_brands, sports_brands_india)

Set{String} with 2 elements:
  "Nike"
  "Addidas"

In [108]:
setdiff(sports_brands, sports_brands_india)

Set{String} with 2 elements:
  "Rebook"
  "Puma"

In [109]:
setdiff(sports_brands_india, sports_brands)

Set{String} with 1 element:
  "HRX"

In [110]:
push!(sports_brands, "HRX")

Set{String} with 5 elements:
  "Rebook"
  "Nike"
  "Puma"
  "HRX"
  "Addidas"

## Working with Date and Time

In [114]:
using Dates

LoadError: UndefVarError: Datetime not defined

In [117]:
now()

2020-08-03T17:45:20.174

In [119]:
today()

2020-08-03

In [120]:
birthdate = Date(2000, 5, 1)  # YYY,MM,DD

2000-05-01

In [123]:
DateTime(2000, 5, 1, 10, 15, 25)

2000-05-01T10:15:25

In [125]:
now(UTC)

2020-08-04T00:47:14.385

In [126]:
year(birthdate)

2000

In [127]:
month(birthdate)

5

In [128]:
day(birthdate)

1

In [130]:
today() - birthdate

7399 days

In [131]:
today() + Month(5)

2021-01-03

In [133]:
date_format = DateFormat("dd-mm-yyyy")

dateformat"dd-mm-yyyy"

In [134]:
Dates.format(birthdate, date_format)

"01-05-2000"