## Conditional

In [16]:
a = 10
a > 10 ? "Yes" : "No"

"No"

In [4]:
a <= 10 ? "Yes" : "No"

"Yes"

In [5]:
b = 20
a >= 10 || b < 20

true

In [6]:
a >= 10 && b < 20

false

In [13]:
if a > 10
    print("a is greater than 10")
elseif a < 10
    print("a is less than 10")
else
    print("a is equal to 10")
end

a is equal to 10

In [17]:
country = "USA"
if country == "USA"
    print("You mentioned USA")
else
    print("You are not in USA")
end

You mentioned USA

## Loops

In [21]:
for i in ["Adidas","Nike","Puma"]
    print(i, " ")
end

Adidas Nike Puma

In [22]:
for i in ["Adidas","Nike","Puma"]
    println(i)
end

Adidas
Nike
Puma

In [23]:
for i in "Adidas"
    println(i)
end

A
d
i
d
a
s

In [24]:
for t in (1,2,3,4,5)
    print(t, ",")
end

1,2,3,4,5,

In [25]:
for d in Dict(:C1=>1000, :C2=>2000)
    print(d, " ")
end

:C2 => 2000 :C1 => 1000

In [27]:
d1 = Dict(:C1=>1000, :C2=>2000)

Dict{Symbol,Int64} with 2 entries:
  :C2 => 2000
  :C1 => 1000

In [29]:
for d in d1
    print(d, " ")
end

:C2 => 2000 :C1 => 1000

In [30]:
for s in Set([1,2,3,4,5])
    print(s)
end

42351

In [31]:
for range in 1:5
    print(range, " ")
end

1 2 3 4 5

In [32]:
for range in 1:5
    @show range
end

range = 1
range = 2
range = 3
range = 4
range = 5

In [34]:
for x in 1:10
    if x % 2 == 0
        print(x, " ")
    end
end

2 4 6 8 10

In [38]:
for i in 1:10
    j = i * 10
    println("$(j) is multiplication between $(i) and 10")
end

10 is multiplication between 1 and 10
20 is multiplication between 2 and 10
30 is multiplication between 3 and 10
40 is multiplication between 4 and 10
50 is multiplication between 5 and 10
60 is multiplication between 6 and 10
70 is multiplication between 7 and 10
80 is multiplication between 8 and 10
90 is multiplication between 9 and 10
100 is multiplication between 10 and 10

In [39]:
for i in 1:10
    if i % 2 == 0
        continue
    end
    println(i)
end

1
3
5
7
9

In [40]:
a = 1
while a < 10
    println(a)
    a += 1
end

1
2
3
4
5
6
7
8
9

## Comprehensions

In [41]:
x = [i for i in 1:10]

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [42]:
x = [i*2 for i in 1:10]

10-element Array{Int64,1}:
  2
  4
  6
  8
 10
 12
 14
 16
 18
 20

In [43]:
x = [i^2 for i in 1:10]

10-element Array{Int64,1}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [44]:
s =Set([i for i in 1:10])

Set{Int64} with 10 elements:
  7
  4
  9
  10
  2
  3
  5
  8
  6
  1

In [49]:
alphabert = Dict(string(Char(x1 + 64)) => x1 for x1 in 1:26)

Dict{String,Int64} with 26 entries:
  "Z" => 26
  "Q" => 17
  "W" => 23
  "T" => 20
  "C" => 3
  "P" => 16
  "V" => 22
  "L" => 12
  "O" => 15
  "B" => 2
  "M" => 13
  "N" => 14
  "H" => 8
  "A" => 1
  "X" => 24
  "D" => 4
  "G" => 7
  "E" => 5
  "Y" => 25
  "I" => 9
  "J" => 10
  "S" => 19
  "U" => 21
  "K" => 11
  "R" => 18
  "F" => 6

In [50]:
[(x, y) for x in 1:3, y in 1:2]

3Ã—2 Array{Tuple{Int64,Int64},2}:
 (1, 1)  (1, 2)
 (2, 1)  (2, 2)
 (3, 1)  (3, 2)

In [51]:
[x for x in 1:10 if x%2 == 0]

5-element Array{Int64,1}:
  2
  4
  6
  8
 10

## Working with Strings

In [52]:
s1 = "I love Julia"

"I love Julia"

In [53]:
length(s1)

12

In [54]:
lastindex(s1)

12

In [55]:
s1[4]

'o': ASCII/Unicode U+006F (category Ll: Letter, lowercase)

In [56]:
s1[10]

'l': ASCII/Unicode U+006C (category Ll: Letter, lowercase)

In [57]:
s1[3:6]

"love"

In [58]:
s1[8:12]

"Julia"

In [59]:
isascii(s1)

true

In [61]:
"Love " * "Julia"

"Love Julia"

In [62]:
string("Love ", "Julia")

"Love Julia"

In [63]:
"Love"^5

"LoveLoveLoveLoveLove"

In [64]:
split(s1)

3-element Array{SubString{String},1}:
 "I"
 "love"
 "Julia"

In [65]:
split(s1, "e")

2-element Array{SubString{String},1}:
 "I lov"
 " Julia"

In [66]:
split(s1, "love")

2-element Array{SubString{String},1}:
 "I "
 " Julia"

In [67]:
split(s1, "")

12-element Array{SubString{String},1}:
 "I"
 " "
 "l"
 "o"
 "v"
 "e"
 " "
 "J"
 "u"
 "l"
 "i"
 "a"

In [68]:
parse(Int64, "100")

100

In [70]:
parse(Float64, "100.5")

100.5

In [71]:
in('I', s1)

true

In [73]:
occursin("love", s1)

true

In [74]:
findfirst("l", s1)

3:3

In [75]:
findfirst("love", s1)

3:6

In [76]:
replace(s1, "love" => "adore")

"I adore Julia"