## Working with real word files .csv files

In [3]:
using CSV
test = CSV.read("test.csv", normalizenames=true)

2×4 DataFrame
│ Row │ Name       │ Email            │ Phone_Number │ Address         │
│     │ String     │ String           │ String       │ String          │
├─────┼────────────┼──────────────────┼──────────────┼─────────────────┤
│ 1   │ Bob Smith  │ bob@example.com  │ 123-456-7890 │ 123 Fake Street │
│ 2   │ Mike Jones │ mike@example.com │ 098-765-4321 │ 321 Fake Avenue │

In [4]:
typeof(test)

DataFrames.DataFrame

In [5]:
names(test)

4-element Array{String,1}:
 "Name"
 "Email"
 "Phone_Number"
 "Address"

In [7]:
size(test)

(2, 4)

In [11]:
using DataFrames
head(test)  # data too small, head display six rows

2×4 DataFrame
│ Row │ Name       │ Email            │ Phone_Number │ Address         │
│     │ String     │ String           │ String       │ String          │
├─────┼────────────┼──────────────────┼──────────────┼─────────────────┤
│ 1   │ Bob Smith  │ bob@example.com  │ 123-456-7890 │ 123 Fake Street │
│ 2   │ Mike Jones │ mike@example.com │ 098-765-4321 │ 321 Fake Avenue │